body {
    text-align: center;
}


/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.score-panel .indicate {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .indicate li {
    list-style: none;
    display: inline-block;
}